


.body {
    min-height: 100vh;
    background-color: rgb(43, 42, 42);
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45%;
    background-image: url("./Resources/Images/pexels-kaboompics-com-6224\ \(1\).jpg");

}
.heading {

    color: white;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
    font-weight: 700;

}

.heading-desc {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: white;
}
.heading p, .heading-desc p {
    margin: 0;
}
.heading p {
    margin-bottom: 1.5rem;
}

.button-div {
    margin-top: 2rem;

}

.div-button {
    
    background-color: rgb(65, 59, 59);
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    padding: 1rem 3rem;
    
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-a {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.info-div {

    display: flex;
    height: 10rem;
    margin: 3rem auto 3rem 20%;
    padding: 1rem;
    border-radius: 3px;
    border-bottom: black solid 2px;
}

.info-div img {
    height: 8rem;
}

#info-pres-div {
    border: none;
}

.info-div p {
    margin-left: 1.5rem;
    color: black;
    font-size: 1.35rem;
}
.section-b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    background-color: rgb(54, 54, 54);
}


.card {
    margin: auto 1rem;
    width: 20%;
    height: 85%;
    border: 1px white solid;
    padding: 0;
}

.card p {
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.card img {
    width: 100%;
}

.div-button a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;

}

.div-button a:visited {
    color: white;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(90, 88, 88);
    justify-content: flex-end;
    color: white;
    display: flex;
    height: 5%;
    padding: 0rem;
    align-items: center;
}

.navbar img {
    height: 50%;
}
.navbar ul {
    display: flex;
    align-items: center;
}
#menu {
    margin-right: 1rem;
    height: 75%;
    margin-left: 83%;
}
.navbar li {
    margin-left: 1rem;
    list-style: none;
}
